<table>
  <tr>
    <td>
      <a href="/entries">Entries Index</a>
    </td>
    <td>
      <a href="/entries/new">New Entry</a>
    </td>
    <td>
      <a href="/categories">Categories</a>
    </td>
  </tr>
</table>
