<h1>New Category</h1>
<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <p>You are wrong. Do it correctly.</p>
  <% end %>
    <div>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit %>
    </div>
<% end %>
